{% include 'router/junos/delete.j2' %}
{% include 'router/junos/system.j2' %}
{% include 'common/junos/lldp.j2' %}
{% include 'router/junos/snmp.j2' %}
{% include 'router/junos/interfaces/main.j2' %}
{% include 'router/junos/underlay.j2' %}
{% include 'router/junos/overlay/main.j2' %}
{% include 'router/junos/routing-instance.j2' %}
{% include 'router/junos/overlay/routing-instance.j2' %}
{% include 'common/junos/static-route.j2' %}
{% include 'common/junos/bgp/as-path-group.j2' %}
{% include 'common/junos/bgp/policy.j2' %}
{% include 'common/junos/bgp/prefix-list.j2' %}
{% include 'common/junos/bgp/community.j2' %}
{% include 'common/junos/re-protect.j2' %}
{% include 'router/junos/bgp/main.j2' %}
{% include 'router/junos/ospf/main.j2' %}
{% include 'common/junos/sflow.j2' %}
{% include 'router/junos/vlan.j2' %}
{% include 'common/junos/hash-key.j2' %}
{% include 'common/junos/manual_config.j2' %}