{% include 'spine/eos/system.j2' %}
{% include 'spine/eos/snmp.j2' %}
{% include 'spine/eos/interfaces/main.j2' %}
{% include 'spine/eos/ospf.j2' %}
{% include 'spine/eos/sflow.j2' %}
{% include 'spine/eos/bgp/main.j2' %}