{% include 'leaf/system.j2' %}
{% include 'leaf/chassis.j2' %}
{% include 'leaf/snmp.j2' %}
{% include 'leaf/interfaces/main.j2' %}
{% include 'leaf/vlan.j2' %}
{% include 'leaf/underlay.j2' %}
{% include 'leaf/overlay/main.j2' %}
{% include 'leaf/routing-instance.j2' %}
{% include 'common/junos/static-route.j2' %}
{% include 'leaf/acl/main.j2' %}
{% include 'leaf/bgp/main.j2' %}
{% include 'common/junos/manual_config.j2' %}