
delete interfaces
{% include 'common/junos/interfaces/mgmt.j2' %}
{% include 'common/junos/interfaces/fabric.j2' %}
{% include 'leaf/junos/interfaces/access.j2' %}
{% include 'leaf/junos/interfaces/routed.j2' %}
{% include 'common/junos/interfaces/irb.j2' %}
{% include 'leaf/junos/interfaces/lag.j2' %}
{% include 'common/junos/interfaces/loopback.j2' %}