
delete interfaces
{% include 'leaf/interfaces/mgmt.j2' %}
{% include 'leaf/interfaces/fabric.j2' %}
{% include 'leaf/interfaces/access.j2' %}
{% include 'leaf/interfaces/routed.j2' %}
{% include 'leaf/interfaces/irb.j2' %}
{% include 'leaf/interfaces/lag.j2' %}
{% include 'leaf/interfaces/loopback.j2' %}