{% include 'leaf/junos/bgp/bgp.j2' %}
{% include 'common/junos/bgp/as-path-group.j2' %}
{% include 'common/junos/bgp/policy.j2' %}
{% include 'common/junos/bgp/prefix-list.j2' %}
{% include 'common/junos/bgp/community.j2' %}