{% if enhanced_hash_key is defined %}
delete forwarding-options enhanced-hash-key
{% for family in enhanced_hash_key.family %}
{% for hash_key in enhanced_hash_key.family[family]%}
set forwarding-options enhanced-hash-key {{family}} {{ hash_key }}
{% endfor %}
{% endfor %}
{% endif %}
