{% include 'leaf/junos/system.j2' %}
{% include 'leaf/junos/chassis.j2' %}
{% include 'leaf/junos/snmp.j2' %}
{% include 'leaf/junos/interfaces/main.j2' %}
{% include 'leaf/junos/vlan.j2' %}
{% include 'leaf/junos/underlay.j2' %}
{% include 'leaf/junos/overlay/main.j2' %}
{% include 'leaf/junos/routing-instance.j2' %}
{% include 'common/junos/static-route.j2' %}
{% include 'leaf/junos/acl/main.j2' %}
{% include 'leaf/junos/bgp/main.j2' %}
{% include 'common/junos/igmp-snooping.j2' %}
{% include 'leaf/junos/hash-key.j2' %}
{% include 'common/junos/manual_config.j2' %}