{% include 'ds/junos/system.j2' %}
{% include 'ds/junos/snmp.j2' %}
{% include 'ds/junos/interfaces/main.j2' %}
{% include 'ds/junos/underlay.j2' %}
{% include 'ds/junos/routing-instance.j2' %}
{% include 'common/junos/static-route.j2' %}
{% include 'ds/junos/acl/main.j2' %}
{% include 'common/junos/sflow.j2' %}
{% include 'ds/junos/vlan.j2' %}
{% include 'common/junos/igmp-snooping.j2' %}
{% include 'common/junos/hash-key.j2' %}
{% include 'common/junos/manual_config.j2' %}