{% include 'eos-spine/system.j2' %}
{% include 'eos-spine/snmp.j2' %}
{% include 'eos-spine/interfaces/main.j2' %}
{% include 'eos-spine/ospf.j2' %}
{% include 'eos-spine/sflow.j2' %}
{% include 'eos-spine/bgp/main.j2' %}